* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--board-color);
    color: var(--text-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   overflow: hidden;
}

:root {
    /* background colors */
    --board-color: rgb(30, 29, 29);
    --food-color: rgb(252, 49, 13);
    --snake-color:#eff5f1;
    --start-color:rgb(146, 131, 131);

    /* spacing */
    --xs: 4px;
    --s: 8px;
    --m: 12px;
    --l: 16px;
    --xl: 20px;
    --2xl: 24px;
    --3xl: 30px;

    /* font sizes */
    --font-s: 10px;
    --font-m: 16px;
    --font-l: 22px;
    --font-xl: 28px;

    /* colors */
    --border-white: rgb(215, 210, 210);
    --text-white: rgb(252, 249, 249);
}

#info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: var(--xl);
    margin: var(--2xl);

    border: 1px solid var(--border-white);
    border-radius: var(--xl);

    min-height: 15%;
    font-size: var(--font-l);
    font-weight: 600;
}

#info #high-score,
#info #score,
#info #time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info h2 {
    font-size: var(--3xl);
    font-weight: 600;
}

#board {
    height: 75vh;
    width: 97vw;
    margin: var(--xl);
    display: grid;
    border: 1px solid var(--border-white);
    border-radius: var(--2xl);
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
    grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
    

}
.blocks{
    height:40px;
    width:40px;
    border:1px solid var(--border-white);
    border-radius: 20px;
}
.snake{
    background-color: var(--snake-color);
}
.food{
    background-color: var(--food-color);
    transition: all 150ms ease;
}
.snake-head {
    background-color: #2ca417;    /*  different color */
    border-radius: 50%;          /* round head look */
    position: relative;
    
}
.snake-head::before,
.snake-head::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    transition: all 100ms ease-in;
}

.snake-head::before {
    top: 9px;
    left: 8px;
}

.snake-head::after {
    top: 8px;
    right: 8px;
}
.start-game{
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
    gap:10px;
}
.filter{
    backdrop-filter: blur(10px);
    width:100%;
    height: 100%;
    position: absolute;
}

.start-game button{
    width:20%;
    font-size: var(--font-xl);
    border-radius: 20px;
    transition: all ease 0.3s;
    
}
.start-game button:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: var(--start-color);
}

.game-over{
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
    gap:10px;
   
}
.game-over button:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: var(--start-color);
}

.game-over button{
    width:100%;
    font-size: var(--font-xl);
    border-radius: 20px;
    transition: all ease 0.3s;
    
}

